<div class="p-grid table-demo">
	<div class="p-col-12">
		


		<div class="card">
			<div class="card-header">
				<h4>Admin Workflows</h4><a href="#"><p-button label="Create Profile" icon="pi pi-plus" iconPos="right" class="p-mr-2 p-mb-2"></p-button></a>
	</div>

            <!--<h6>Top Oriented</h6>-->
            <p-tabView>
                <p-tabPanel header="Approval Profile" leftIcon="pi pi-file">
                    <!--<h4>Total Documents</h4>-->
                
                    <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
                     styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" 
					 [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
					 
					 <ng-template pTemplate="caption">

				
       
						<h4>Approval Profile</h4> <span class="p-input-icon-left" style="float:right; margin-top:-40px;">
							<i class="pi pi-search"></i>
							<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
								   placeholder="Global Search"/>
					
					<button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" style="float:right;"></button>
						<button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-secondary p-mr-2 p-mb-2"style="float:right; margin-left:10px ; "></button>
					</span>
					
				</ng-template>

                <!-- <ng-template pTemplate="caption">
                    <div class="table-header">
                        Current Workflow
                        <span class="p-input-icon-left" style="float:right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                </span>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                    
                      
                        <th pSortableColumn="name">Profile Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Document Type
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="country.name">Department
                            <p-sortIcon field="country.name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="representative.name">Role
                            <p-sortIcon field="representative.name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="representative.name">Status
                            <p-sortIcon field="representative.name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="activity">Action
							<p-sortIcon field="activity"></p-sortIcon>
						</th>
                        
                        <!-- <th pSortableColumn="status">FG Part
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date">Effective Date
                            <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date">Expiration Date
                            <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="activity">Delegated By
                            <p-sortIcon field="activity"></p-sortIcon>
                        </th>
                        <th pSortableColumn="activity">Actions
                            <p-sortIcon field="activity"></p-sortIcon>
                        </th> -->
                       
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr class="p-selectable-row">
                        
                        <td>
                            ADMN200197-R01
                        
                        </td>
                        
                        <td>
                            UC-003
                            
                        </td>
                        <td>
                            QMS
                        </td>
                        <td>
                            Quality Engineer
                        </td>
                        <td>
                            Active
                        </td>
					
                        <td>
                            <button pButton type="button"  label="View" (click)="display=true" icon="pi pi-eye" iconPos="right" class="p-button-outlined  p-button-seconday p-mr-2 p-mb-2"></button>
    
                             </td>
                        <!--<td>
                            KTD000011ABDD-6:D000011ABDD
                        </td>
                      <td>
                            10-Sep-2019
                        </td>
                        <td>
                            10-Sep-2020
                        </td>
                        
                        
                        <td >Sharath</td>
                        <td style="text-align: center">
                            <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                        </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="auto">No documents found.</td>
                    </tr>
                </ng-template>
            </p-table>
            </p-tabPanel>

			



    </p-tabView>

           
        </div>

    </div>
    </div>




