<!-- <div class="p-grid">
	<div class="p-col-12">

		<p-toast></p-toast>

		<div class="card">
 <div class="card-header">
       
				<h4>Document Details </h4> 
				
				

                <p-dialog header="ADMN200197-R01" [(visible)]="display" modal="modal" showEffect="fade" [style]="{width:'80%'}" >
				 <hr>
                    <div class="p-grid">
						
							<div class="p-col-12 p-md-6 p-xl-6">
								<div class="card no-gutter widget-overview-box widget-overview-box-1" style="min-height:150px;">
									<ul class="widget-image-list">
										<li>
											<span style="color:#2196F3">Document Code:</span>

											
													<span p-formgrid><input type="text" pInputText placeholder="ADMN200197-R01"></span>
												
											
										</li>
										<li>
											<span style="color:#2196F3">Document Title:</span>
											<span p-formgrid><input type="text" pInputText placeholder="QP-004"></span>
											
										</li>
										<li>
											<span style="color:#2196F3">Document Type:</span>
										
											<span p-formgrid><input type="text" pInputText placeholder="Quality Policy" [disabled]="true"/></span>
										
										</li>
										<li>
											<span style="color:#2196F3">Workflow:</span>
											
											<span p-formgrid><input type="text" pInputText placeholder="QP" class="p-invalid"/></span>
										</li>
								   </ul>
									</div>
							</div>
			
							<div class="p-col-12 p-md-6 p-xl-6">
								<div class="card no-gutter widget-overview-box widget-overview-box-1"style="min-height:150px;">
								<ul class="widget-image-list">
									<li>
										
											
										<span style="color:#2196F3">Fg Part No</span>
										<span p-formgrid><input type="text" pInputText placeholder="KTD-12345-ABDEE"></span>
										
									</li>
									
									<li>
										
										<span style="color:#2196F3">Effective Date</span>
										
										
									<span style="margin-right:120px; "><p-calendar [showIcon]="true"  placeholder="10-Feb-2020" inputId="icon" ></p-calendar></span>
										
										
									</li>
									<li>
										
											
										<span style="color:#2196F3">Expiration Date</span>
										<span p-formgrid><input type="text" pInputText placeholder="10-March-2020"[disabled]="true"/></span>
										
										
									</li>
									
									<li>
									
											
										<span style="color:#2196F3">Status</span>
										<span p-formgrid><input type="text" pInputText placeholder="Inprocess"[disabled]="true"/></span>
										
										
									</li>
									
								</ul>
								</div>
							</div>
							
					
                    
        
                </div>
                    <p-footer>
						<button pButton pRipple type="button"  icon="pi pi-trash" iconPos="right" label="Delete Doc" class="p-button-raised p-button-primary p-mr-2 p-mb-2"style="width:140px"></button>
                        <button pButton pRipple type="button"  icon="pi pi-upload" iconPos="right" label="Upload Doc" class="p-button-raised p-button-secondary p-mr-2 p-mb-2"style="width:140px"></button>
                        <button pButton pRipple type="button"  icon="pi pi-check" iconPos="right" label="Save" class="p-button-raised p-button-success p-mr-2 p-mb-2"style="width:110px"></button>
                        <button pButton pRipple type="button"  icon="pi pi-times" iconPos="right" label="Close" class="p-button-raised p-button-danger p-mr-2 p-mb-2"style="width:110px"></button>
                    </p-footer> 
                </p-dialog>

               
                 <button pButton pRipple type="button" (click)="display=true" icon="pi pi-pencil" iconPos="right" label="Edit" class="p-button-raised p-button-warning p-mr-2 p-mb-2"style="width:110px; float:right; "></button>

			</div>
			<hr>
			
			<div class="p-grid">
				<div class="p-col-12 p-md-6 p-xl-6">
					<div class="card no-gutter widget-overview-box widget-overview-box-1" style="min-height:150px;">
						<ul class="widget-image-list">
							<li>
								<span style="color:#2196F3">Document Code:</span>
								<span>ADMN200197-R01</span>
							</li>
							<li>
								<span style="color:#2196F3">Document Title:</span>
								<span>QP-004</span>
							</li>
							<li>
								<span style="color:#2196F3">Document Type:</span>
								<span style="color:#06ce1e">Quality Policy</span>
							</li>
							<li>
								<span style="color:#2196F3">Workflow:</span>
								<span>QP</span>
							</li>
					   </ul>
						</div>
				</div>

				<div class="p-col-12 p-md-6 p-xl-6">
					<div class="card no-gutter widget-overview-box widget-overview-box-1"style="min-height:150px;">
					<ul class="widget-image-list">
                        <li>
							
								
							<span style="color:#2196F3">Fg Part No</span>
							
							<span class="listitem-value">KTD-12345-ABDEE</span>
						</li>
                        
						<li>
							
								
							<span style="color:#2196F3">Effective Date</span>
							
							<span class="listitem-value">10-Feb-2020</span>
						</li>
						<li>
							
								
							<span style="color:#2196F3">Expiration Date</span>
							
							<span class="listitem-value">10-March-2020</span>
						</li>
						
						<li>
						
								
							<span style="color:#2196F3">Status</span>
							
							<span class="listitem-value">Inprocess</span>
						</li>
						
					</ul>
					</div>
				</div>
				
		





			<p-table #dt [value]="products" [columns]="cols" [rows]="1" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
					 [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
					 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
			
				
					 <ng-template pTemplate="caption">

				
       
						<h4>Document : ADMN200197-R01</h4> <span class="p-input-icon-left" style="float:right; margin-top:-40px;">
							<i class="pi pi-search"></i>
							<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
								   placeholder="Global Search"/>
					
					<button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" style="float:right;"></button>
						<button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-secondary p-mr-2 p-mb-2"style="float:right; margin-left:10px ; "></button>
					
					
					
					</span>
					
				</ng-template>


				
				
					 <ng-template pTemplate="header">

			
					<tr>
						
						<th pSortableColumn="name">Department <p-sortIcon field="name"></p-sortIcon></th>
						
						<th pSortableColumn="price">Role<p-sortIcon field="price"></p-sortIcon></th>
						<th pSortableColumn="category">Status<p-sortIcon field="category"></p-sortIcon></th>
						<th pSortableColumn="rating">Approved By <p-sortIcon field="rating"></p-sortIcon></th>
						<th pSortableColumn="inventoryStatus">Approver Date <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                        <th pSortableColumn="inventoryStatus">Max Approvers <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
						<th pSortableColumn="inventoryStatus">Comments <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
						
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product>
					<tr>
						
						<td>Document Management</td>
						
						<td>Manager</td>
                        <td>Approved</td>
                        <td>Roy</td>
                        <td>15-Sep-2020</td>
                        <td>1</td>
						<td>Approved</td>
					
					
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
					<div class="p-d-flex p-ai-center p-jc-between">
						In total there are {{products ? products.length : 0 }} products.
					</div>
				</ng-template>
		

			</p-table>
 
           
		</div><br>
		<div class="table-footer"style="float:right; margin-bottom:10px;">
			<button pButton pRipple type="button"  icon="pi pi-pause" iconPos="right" label="Hold" class="p-button-raised p-button-warning p-mr-2 p-mb-2"style="width:110px;"></button>
			<button pButton pRipple type="button"  icon="pi pi-check" iconPos="right" label="Approve" class="p-button-raised p-button-success p-mr-2 p-mb-2"style="width:110px;"></button>
			<button pButton pRipple type="button"  icon="pi pi-replay" iconPos="right" label="Review" class="p-button-raised p-button-secondary p-mr-2 p-mb-2"style="width:110px"></button>
			<button pButton pRipple type="button"  icon="pi pi-reply" iconPos="right" label="Delegate" class="p-button-raised p-button-help p-mr-2 p-mb-2"style="width:110px"></button>
		   
		</div> <br><br>

	
	</div>
</div>
 -->
