<div class="layout-dashboard">
	<div class="p-grid">
		<div class="p-col-12 p-md-6 p-xl-4">
			<div class="card no-gutter widget-overview-box " style="background-color: #495057;">
                            <span class="overview-icon" style="color:#fff;">
                                <i class="pi pi-desktop"></i>
                            </span>
				<span class="overview-title" style="color:#fff;">My Projects</span>
				<div class="p-grid overview-detail">
					<div class="p-col-6">
						<div class="overview-number" style="color:#fff;">12</div>
						<div class="overview-subtext" style="color:#fff;">Active</div>
					</div>
					<div class="p-col-6">
						<div class="overview-number" style="color:#fff;">6</div>
						<div class="overview-subtext" style="color:#fff;">Completed</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-col-12 p-md-6 p-xl-4">
			<div class="card no-gutter widget-overview-box "style="background-color: #495057;">
                            <span class="overview-icon" style="color:#fff;">
                                <i class="pi pi-check-square"></i>
                            </span>
				<span class="overview-title" style="color:#fff;">My Tasks</span>
				<div class="p-grid overview-detail">
					<div class="p-col-6">
						<div class="overview-number" style="color:#fff;">25</div>
						<div class="overview-subtext" style="color:#fff;">Assigned</div>
					</div>
					<div class="p-col-6">
						<div class="overview-number" style="color:#fff;">22</div>
						<div class="overview-subtext" style="color:#fff;">Completed</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-col-12 p-md-6 p-xl-4">
			<div class="card no-gutter widget-overview-box "style="background-color: #495057;">
                            <span class="overview-icon" style="color:#fff;">
                                <i class="pi pi-check-square"></i>
                            </span>
				<span class="overview-title" style="color:#fff;">Overdue Tasks</span>
				<div class="p-grid overview-detail">
					<div class="p-col-6">
						<div class="overview-number" style="color:#fff;">14</div>
						<div class="overview-subtext" style="color:#fff;">To Attach</div>
					</div>
					<div class="p-col-6">
						<div class="overview-number" style="color:#fff;">16</div>
						<div class="overview-subtext" style="color:#fff;">Uploaded</div>
					</div>
				</div>
			</div>
		</div>
<!-- 		<div class="p-col-12 p-md-6 p-xl-3">
			<div class="card no-gutter widget-overview-box "style="background-color: #495057;">
                            <span class="overview-icon" style="color:#fff;">
                                <i class="pi pi-comment"></i>
                            </span>
				<span class="overview-title" style="color:#fff;">Comments</span>
				<div class="p-grid overview-detail">
					<div class="p-col-6">
						<div class="overview-number" style="color:#fff;">12</div>
						<div class="overview-subtext" style="color:#fff;">New</div>
					</div>
					<div class="p-col-6">
						<div class="overview-number" style="color:#fff;">85</div>
						<div class="overview-subtext" style="color:#fff;">Responded</div>
					</div>
				</div>
			</div>
		</div> -->


        <div class="p-col-12 p-lg-8">
           <div class="card revenue" style="min-height:600px;">
                <h4>Phase Stream</h4>
                <p>Product ratio in phases.</p>
                <div class="revenue-chart-container">
                    <p-chart type="pie" id="revenue-chart" [data]="revenueChart"></p-chart>
                </div>
            </div>

           
		</div>

		<div class="p-col-12 p-lg-4">
            <div class="card" style="min-height:600px;">
                <div class="card-header">
					<h4>Timeline</h4>
					<p-dropdown [options]="orderWeek" [(ngModel)]="selectedOrderWeek" optionLabel="name" (onChange)="recentSales($event)"
								styleClass="dashbard-demo-dropdown" [ngStyle]="{'min-width': '8rem'}"></p-dropdown>
				</div>
            <div class="widget-timeline">
                <div class="timeline-event">
                            <span class="timeline-event-icon" style="background-color:#64B5F6">
                                <i class="pi pi-dollar"></i>
                            </span>
                    <div class="timeline-event-title">New Sale</div>
                    <div class="timeline-event-detail">Richard Jones has purchased a blue t-shirt for <strong>$79</strong>.</div>
                </div>
                <div class="timeline-event">
                            <span class="timeline-event-icon" style="background-color:#7986CB">
                                <i class="timeline-icon pi pi-download"></i>
                            </span>
                    <div class="timeline-event-title">Withdrawal Initiated</div>
                    <div class="timeline-event-detail">Your request for withdrawal of <strong>$2500</strong> has been initiated.</div>
                </div>
                <div class="timeline-event">
                            <span class="timeline-event-icon" style="background-color:#4DB6AC">
                                <i class="timeline-icon pi pi-question"></i>
                            </span>
                    <div class="timeline-event-title">Question Received</div>
                    <div class="timeline-event-detail">Jane Davis has posted a <strong>new question</strong> about your product.</div>
                </div>
                <div class="timeline-event">
                            <span class="timeline-event-icon" style="background-color:#4DD0E1">
                                <i class="timeline-icon pi pi-comment"></i>
                            </span>
                    <div class="timeline-event-title">Comment Received</div>
                    <div class="timeline-event-detail">Claire Smith has upvoted your store along with a <strong>comment</strong>.</div>
                </div>
                <div class="timeline-event">
                    <span class="timeline-event-icon" style="background-color:#64B5F6">
                        <i class="pi pi-dollar"></i>
                    </span>
            <div class="timeline-event-title">New Sale</div>
            <div class="timeline-event-detail">Richard Jones has purchased a blue t-shirt for <strong>$79</strong>.</div>
        </div>
        <div class="timeline-event">
                    <span class="timeline-event-icon" style="background-color:#7986CB">
                        <i class="timeline-icon pi pi-download"></i>
                    </span>
            <div class="timeline-event-title">Withdrawal Initiated</div>
            <div class="timeline-event-detail">Your request for withdrawal of <strong>$2500</strong> has been initiated.</div>
        </div>
        <div class="timeline-event">
                    <span class="timeline-event-icon" style="background-color:#4DB6AC">
                        <i class="timeline-icon pi pi-question"></i>
                    </span>
            <div class="timeline-event-title">Question Received</div>
            <div class="timeline-event-detail">Jane Davis has posted a <strong>new question</strong> about your product.</div>
        </div>
        <div class="timeline-event">
            <span class="timeline-event-icon" style="background-color:#4DD0E1">
                <i class="timeline-icon pi pi-comment"></i>
            </span>
    <div class="timeline-event-title">Comment Received</div>
    <div class="timeline-event-detail">Claire Smith has upvoted your store along with a <strong>comment</strong>.</div>
</div>
            </div>
        </div>



			<!--<div class="card widget-tasks">
				<h4>Tasks</h4>
				<p>Overview of your pending tasks.</p>
				<div>
					<div class="task task-1">
						<div class="task-name"><span>12 Orders</span> to fulfill</div>
						<div class="task-progress">
							<div></div>
						</div>
					</div>
					<div class="task task-2">
						<div class="task-name"><span>40+ Payments</span> to withdraw</div>
						<div class="task-progress">
							<div></div>
						</div>
					</div>
					<div class="task task-3">
						<div class="task-name"><span>4 Reports</span> to revise</div>
						<div class="task-progress">
							<div></div>
						</div>
					</div>
					<div class="task task-4">
						<div class="task-name"><span>6 Questions</span> to respond</div>
						<div class="task-progress">
							<div></div>
						</div>
					</div>
					<div class="task task-5">
						<div class="task-name"><span>2 Chargebacks</span> to review</div>
						<div class="task-progress">
							<div></div>
						</div>
					</div>
				</div>
			</div>-->

		<!--	<div class="card">
				<h4>Best Sellers</h4>
				<p>Most popular products from your collection.</p>

				<ul class="widget-image-list">
					<li>
						<span>Product</span>
						<span>Sales</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/bamboo-watch.jpg" alt="diamond-layout"/>
                            <span>Bamboo Watch</span>
                        </span>
						<span class="listitem-value">82</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/blue-band.jpg" alt="diamond-layout"/>
                            <span>Blue Band</span>
                        </span>
						<span class="listitem-value">75</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/game-controller.jpg" alt="diamond-layout"/>
                            <span>Game Controller</span>
                        </span>
						<span class="listitem-value">64</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/lime-band.jpg" alt="diamond-layout"/>
                            <span>Lime Band</span>
                        </span>
						<span class="listitem-value">62</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/gold-phone-case.jpg" alt="diamond-layout"/>
                            <span>Phone Case</span>
                        </span>
						<span class="listitem-value">55</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/green-t-shirt.jpg" alt="diamond-layout"/>
                            <span>Green T-Shirt</span>
                        </span>
						<span class="listitem-value">48</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/purple-t-shirt.jpg" alt="diamond-layout"/>
                            <span>Purple T-Shirt</span>
                        </span>
						<span class="listitem-value">32</span>
					</li>
				</ul>
			</div>-->
		</div>

        <div class="p-col-12">



         <!--  <div class="card">
				<h4>Best Sellers</h4>
				<p>Most popular products from your collection.</p>

				<ul class="widget-image-list">
					<li>
						<span>Product</span>
						<span>Sales</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/bamboo-watch.jpg" alt="diamond-layout"/>
                            <span>Bamboo Watch</span>
                        </span>
						<span class="listitem-value">82</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/blue-band.jpg" alt="diamond-layout"/>
                            <span>Blue Band</span>
                        </span>
						<span class="listitem-value">75</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/game-controller.jpg" alt="diamond-layout"/>
                            <span>Game Controller</span>
                        </span>
						<span class="listitem-value">64</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/lime-band.jpg" alt="diamond-layout"/>
                            <span>Lime Band</span>
                        </span>
						<span class="listitem-value">62</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/gold-phone-case.jpg" alt="diamond-layout"/>
                            <span>Phone Case</span>
                        </span>
						<span class="listitem-value">55</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/green-t-shirt.jpg" alt="diamond-layout"/>
                            <span>Green T-Shirt</span>
                        </span>
						<span class="listitem-value">48</span>
					</li>
					<li>
                        <span>
                            <img src="assets/demo/images/product/purple-t-shirt.jpg" alt="diamond-layout"/>
                            <span>Purple T-Shirt</span>
                        </span>
						<span class="listitem-value">32</span>
					</li>
				</ul>
			</div>-->



            

           <!-- <div class="card">
                <h4>Team Members</h4>
                <ul class="widget-person-list">
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/amyelsner.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Amy Elsner</div>
                                <div class="person-subtext">Accounting</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope"></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog"></button>
                        </div>
                    </li>
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/annafali.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Anna Fali</div>
                                <div class="person-subtext">Procurement</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope" ></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog" ></button>
                        </div>
                    </li>
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/bernardodominic.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Bernardo Dominic</div>
                                <div class="person-subtext">Finance</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope" ></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog" ></button>
                        </div>
                    </li>
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/ivanmagalhaes.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Ivan Magalhaes</div>
                                <div class="person-subtext">Sales</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope" ></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog" ></button>
                        </div>
                    </li>
                    <li>
                        <div class="person-item">
                            <img src="assets/demo/images/avatar/xuxuefeng.png" alt="diamond-layout" />
                            <div class="person-info">
                                <div class="person-name">Xuxue Feng</div>
                                <div class="person-subtext">Management</div>
                            </div>
                        </div>
                        <div class="person-actions">
                            <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-envelope" ></button>
                            <button pButton type="button" class="p-button-rounded p-button-warning" icon="pi pi-cog" ></button>
                        </div>
                    </li>
                </ul>
            </div>-->



        <!--    <div class="p-col-12 ">
                <div class="card no-gutter orders">
                    <div class="card-header">
                        <h4>Orders</h4>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                        <button pButton type="button" id="orders-button" icon="pi pi-search" class="p-button-text p-button-secondary"
                                (click)="menu.toggle($event)"></button>
                    </div>
    
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div id="order-tabs-container" class="p-grid order-tabs">
                                <div class="order-tab order-tab-new p-col-6 p-md-3"
                                     (click)="changeDataset($event); chart.refresh()"
                                     data-label="New Orders" data-index="0" data-stroke="#BBDEFB"
                                     data-fill="rgba(100, 181, 246, 0.2)">
                                    <i class="pi pi-plus-circle"></i>
                                    <span class="order-label">New</span>
                                    <i class="stat-detail-icon icon-arrow-right-circle"></i>
                                    <img src="assets/demo/images/dashboard/graph-new.svg" alt="diamond-ng"/>
                                </div>
                                <div class="order-tab order-tab-completed p-col-6 p-md-3"
                                     (click)="changeDataset($event); chart.refresh()"
                                     data-label="Completed Orders" data-index="1" data-stroke="#C5CAE9"
                                     data-fill="rgba(121, 134, 203, 0.2)">
                                    <i class="pi pi-check-circle"></i>
                                    <span class="order-label">Completed</span>
                                    <i class="stat-detail-icon icon-arrow-right-circle"></i>
                                    <img src="assets/demo/images/dashboard/graph-completed.svg" alt="diamond-ng"/>
                                </div>
                                <div class="order-tab order-tab-refunded p-col-6 p-md-3"
                                     (click)="changeDataset($event); chart.refresh()"
                                     data-label="Refunded Orders" data-index="2" data-stroke="#B2DFDB"
                                     data-fill="rgba(224, 242, 241, 0.5)">
                                    <i class="pi pi-refresh"></i>
                                    <span class="order-label">Refunded</span>
                                    <i class="stat-detail-icon icon-arrow-right-circle"></i>
                                    <img src="assets/demo/images/dashboard/graph-refunded.svg" alt="diamond-ng"/>
                                </div>
                                <div class="order-tab order-tab-cancelled p-col-6 p-md-3"
                                     (click)="changeDataset($event); chart.refresh()"
                                     data-label="Cancelled Orders" data-index="3" data-stroke="#B2EBF2"
                                     data-fill="rgba(224, 247, 250, 0.5)">
                                    <i class="pi pi-times-circle"></i>
                                    <span class="order-label">Cancelled</span>
                                    <i class="stat-detail-icon icon-arrow-right-circle"></i>
                                    <img src="assets/demo/images/dashboard/graph-cancelled.svg" alt="diamond-ng"/>
                                </div>
                            </div>
                        </div>
                        <div class="p-col-12">
                            <div class="overview-chart">
                                <p-chart #chart type="line" [data]="ordersChart" [options]="ordersChartOptions"
                                         id="order-chart"></p-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->



            <div class="card">
				<div class="card-header">
					<h4>Project Summary</h4>
					<p-dropdown [options]="orderWeek" [(ngModel)]="selectedOrderWeek" optionLabel="name" (onChange)="recentSales($event)"
								styleClass="dashbard-demo-dropdown" [ngStyle]="{'min-width': '8rem'}"></p-dropdown>
				</div>

				<p>Project summary as on today.</p>

                <p-table [value]="products" >
					<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="id">Product Name
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="id">Die Code
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="id">Mfg Part #
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="category">FG Part #
								<p-sortIcon field="category"></p-sortIcon>
							</th>
							<th pSortableColumn="category">Product Line
								<p-sortIcon field="category"></p-sortIcon>
							</th>
							<th pSortableColumn="id">Product Engineer
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="price"> Start Date
								<p-sortIcon field="price"></p-sortIcon>
							</th>
							<th pSortableColumn="price"> Due Date
								<p-sortIcon field="price"></p-sortIcon>
							</th>
							<th pSortableColumn="inventoryStatus"> Phase
								<p-sortIcon field="inventoryStatus"></p-sortIcon>
							</th>
							<!-- <th pSortableColumn="inventoryStatus"> Phase Status
								<p-sortIcon field="inventoryStatus"></p-sortIcon>
							</th> -->
							<th pSortableColumn="inventoryStatus"> Actions
								<p-sortIcon field="inventoryStatus"></p-sortIcon>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-product>
						<tr>
							<td>Jazzman</td>
							<td>7AG027-AB</td>
							<td>D00001ABDD</td>
							<td>KTD00001ABDD</td>
							<td>Portable</td>
							<td>Sarath S</td>
							<td>
								<span class="p-column-title">05/15/2020</span>
							
							</td>
							<td>
								<span class="p-column-title">09/28/2020</span>
						
							</td>
							<td style="background-color:#4DB6AC;">P0</td>
							<!-- <td>In Process</td> -->
							
							<td style="text-align: center">
								<button pButton type="button" icon="pi pi-eye"></button>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>





        </div>
	</div>
</div>

