<div class="layout-dashboard">
	<div class="p-grid">
		<div class="p-col-12 p-md-6 p-xl-3">
			<div class="card no-gutter widget-overview-box widget-overview-box-1">
			  <span class="overview-icon">
				<i class="pi pi-briefcase"></i>
			  </span>
			  <span class="overview-title">My Projects</span>
			  <div class="p-grid overview-detail">
				<div class="p-col-6">
				  <div class="overview-number">12
				  </div>
				  <div class="overview-subtext">Active</div>
				</div>
				<div class="p-col-6">
				  <div class="overview-number">6
				  </div>
				  <div class="overview-subtext">Hold</div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="p-col-12 p-md-6 p-xl-3">
			<div class="card no-gutter widget-overview-box widget-overview-box-2">
			  <span class="overview-icon">
				<i class="pi pi-check-square"></i>
			  </span>
			  <span class="overview-title">My Tasks</span>
			  <div class="p-grid overview-detail">
				<div class="p-col-6">
				  <div class="overview-number">25</div>
				  <div class="overview-subtext">Assigned</div>
				</div>
				<div class="p-col-6">
				  <div class="overview-number">
				   22
				  </div>
				  <div class="overview-subtext">Completed</div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="p-col-12 p-md-6 p-xl-3">
			<div class="card no-gutter widget-overview-box widget-overview-box-3">
			  <span class="overview-icon">
				<i class="pi pi-calendar-minus"></i>
			  </span>
			  <span class="overview-title">Overdue</span>
			  <div class="p-grid overview-detail">
				<div class="p-col-6">
				  <div class="overview-number">2</div>
				  <div class="overview-subtext">Projects</div>
				</div>
				<div class="p-col-6">
				  <div class="overview-number">16</div>
				  <div class="overview-subtext">Tasks</div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="p-col-12 p-md-6 p-xl-3">
			<div class="card no-gutter widget-overview-box widget-overview-box-4">
			  <span class="overview-icon">
				<i class="pi pi-comment"></i>
			  </span>
			  <span class="overview-title">Comments</span>
			  <div class="p-grid overview-detail">
				<div class="p-col-6">
				  <div class="overview-number">
				  12
				  </div>
				  <div class="overview-subtext">New</div>
				</div>
				<div class="p-col-6">
				  <div class="overview-number">
				  85
				  </div>
				  <div class="overview-subtext">Responded</div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="p-col-12 p-lg-8">
			<div class="card revenue"  style="height:450px;">
				 <h4>Projects by Phase</h4>
				 <hr>
				 <div class="revenue-chart-container" style="width:550px;height:450px;margin-left: 20%;">
					 <p-chart type="pie" id="revenue-chart" [data]="revenueChart"></p-chart>
				 </div>
			 </div>
		 </div>
		 <div class="p-col-12 p-lg-4">
			 <div class="card" style="height:450px;">
				 <div class="card-header">
		   <h4>Timeline</h4>  
					 <p-dropdown [options]="orderWeek" [(ngModel)]="selectedOrderWeek" optionLabel="name" (onChange)="recentSales($event)"
				 styleClass="dashbard-demo-dropdown" [ngStyle]="{'min-width': '8rem'}"></p-dropdown>      
		 </div>
			 <div class="widget-timeline">
				 <div class="timeline-event">
							 <span class="timeline-event-icon" style="background-color:#64B5F6">
								 <i class="pi pi-dollar"></i>
							 </span>
					 <div class="timeline-event-title">New Sale</div>
					 <div class="timeline-event-detail">Richard Jones has purchased a blue t-shirt for <strong>$79</strong>.</div>
				 </div>
				 <div class="timeline-event">
							 <span class="timeline-event-icon" style="background-color:#7986CB">
								 <i class="timeline-icon pi pi-download"></i>
							 </span>
					 <div class="timeline-event-title">Withdrawal Initiated</div>
					 <div class="timeline-event-detail">Your request for withdrawal of <strong>$2500</strong> has been initiated.</div>
				 </div>
				 <div class="timeline-event">
							 <span class="timeline-event-icon" style="background-color:#4DB6AC">
								 <i class="timeline-icon pi pi-question"></i>
							 </span>
					 <div class="timeline-event-title">Question Received</div>
					 <div class="timeline-event-detail">Jane Davis has posted a <strong>new question</strong> about your product.</div>
				 </div>
				 <div class="timeline-event">
							 <span class="timeline-event-icon" style="background-color:#4DD0E1">
								 <i class="timeline-icon pi pi-comment"></i>
							 </span>
					 <div class="timeline-event-title">Comment Received</div>
					 <div class="timeline-event-detail">Claire Smith has upvoted your store along with a <strong>comment</strong>.</div>
				 </div>
				 <div class="timeline-event">
					 <span class="timeline-event-icon" style="background-color:#64B5F6">
						 <i class="pi pi-dollar"></i>
					 </span>
			 <div class="timeline-event-title">New Sale</div>
			 <div class="timeline-event-detail">Richard Jones has purchased a blue t-shirt for <strong>$79</strong>.</div>
		 </div>
		 <div class="timeline-event">
					 <span class="timeline-event-icon" style="background-color:#7986CB">
						 <i class="timeline-icon pi pi-download"></i>
					 </span>
			 <div class="timeline-event-title">Withdrawal Initiated</div>
			 <div class="timeline-event-detail">Your request for withdrawal of <strong>$2500</strong> has been initiated.</div>
		 </div>
		 <div class="timeline-event">
					 <span class="timeline-event-icon" style="background-color:#4DB6AC">
						 <i class="timeline-icon pi pi-question"></i>
					 </span>
			 <div class="timeline-event-title">Question Received</div>
			 <div class="timeline-event-detail">Jane Davis has posted a <strong>new question</strong> about your product.</div>
		 </div>       
			 </div>
		 </div>
		 </div> 
	 <div class="p-col-12">
		<div class="card">
			<div class="card-header" style="background-color: #d5e8ef; border-radius: 5px;">
       
				<h4 style="color:#495057; padding:10px 0 0 15px;">Projects Summary</h4> <span class="p-input-icon-left" style="float:right;">
					<!-- <i class="pi pi-search"></i>
					<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
						   placeholder="Global Search"/> -->
			
			<button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" style="float:right;"></button>
				<button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-primary p-mr-2 p-mb-2"style="float:right; margin-left:10px ; "></button>
			</span>
				
			</div>
			<p-table [value]="products" >
				<ng-template pTemplate="header">
					<tr>
						<th pSortableColumn="id">Product Name
							<p-sortIcon field="id"></p-sortIcon>
						</th>
						<th pSortableColumn="id">Die Code
							<p-sortIcon field="id"></p-sortIcon>
						</th>
						<th pSortableColumn="id">Mfg Part #
							<p-sortIcon field="id"></p-sortIcon>
						</th>
						<th pSortableColumn="category">FG Part #
							<p-sortIcon field="category"></p-sortIcon>
						</th>
						<th pSortableColumn="category">Product Line
							<p-sortIcon field="category"></p-sortIcon>
						</th>
						<th pSortableColumn="id">Product Engineer
							<p-sortIcon field="id"></p-sortIcon>
						</th>
						<th pSortableColumn="price"> Start Date
							<p-sortIcon field="price"></p-sortIcon>
						</th>
						<th pSortableColumn="price"> Due Date
							<p-sortIcon field="price"></p-sortIcon>
						</th>
						<th pSortableColumn="inventoryStatus"> Phase
							<p-sortIcon field="inventoryStatus"></p-sortIcon>
						</th>
						<!-- <th pSortableColumn="inventoryStatus"> Phase Status
							<p-sortIcon field="inventoryStatus"></p-sortIcon>
						</th> -->
						<th pSortableColumn="inventoryStatus"> Actions
							<p-sortIcon field="inventoryStatus"></p-sortIcon>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-product>
					<tr>
						<td>Jazzman</td>
						<td>7AG027-AB</td>
						<td>D00001ABDD</td>
						<td>KTD00001ABDD</td>
						<td>Portable</td>
						<td>Sarath S</td>
						<td>
							<span class="p-column-title">05/15/2020</span>
						
						</td>
						<td>
							<span class="p-column-title">09/28/2020</span>
					
						</td>
						<td style="color:#476fc9;">P1</td>
						<!-- <td>In Process</td> -->
						
						<td style="text-align: center">
							<a routerLink="/projectdetails"><button pButton type="button" icon="pi pi-eye"></button></a>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
   </div>
</div>


