
   <div class="p-col-12">
            <div class="card">
				<div class="card-header" style="background-color: #d5e8ef; border-radius: 5px;">
       
					<h4 style="color:#495057; padding:10px 0 0 15px;">Projects Summary</h4> <span class="p-input-icon-left" style="float:right;">
						<!-- <i class="pi pi-search"></i>
						<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
							   placeholder="Global Search"/> -->
				
				<button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" style="float:right;"></button>
					<button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-primary p-mr-2 p-mb-2"style="float:right; margin-left:10px ; "></button>
				</span>
					
				</div>
				<p-table [value]="products" >
					<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="id">Project Name
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="id">Die Code
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="id">Mfg Part #
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="category">FG Part #
								<p-sortIcon field="category"></p-sortIcon>
							</th>
							<th pSortableColumn="category">Product Line
								<p-sortIcon field="category"></p-sortIcon>
							</th>
							<th pSortableColumn="id">Product Engineer
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="price"> Start Date
								<p-sortIcon field="price"></p-sortIcon>
							</th>
							<th pSortableColumn="price"> Due Date
								<p-sortIcon field="price"></p-sortIcon>
							</th>
							<th pSortableColumn="inventoryStatus"> Phase
								<p-sortIcon field="inventoryStatus"></p-sortIcon>
							</th>
							
							<th pSortableColumn="inventoryStatus"> Actions
								<p-sortIcon field="inventoryStatus"></p-sortIcon>
							</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-product>
						<tr>
							<td>Jazzman</td>
							<td>7AG027-AB</td>
							<td>D00001ABDD</td>
							<td>KTD00001ABDD</td>
							<td>Portable</td>
							<td>Sarath S</td>
							<td>
								<span class="p-column-title">05/15/2020</span>
							
							</td>
							<td>
								<span class="p-column-title">09/28/2020</span>
						
							</td>
							<td><span style="color:#476fc9;">P1</span></td>
							
							
							<td style="text-align: center">
								<button pButton type="button" icon="pi pi-eye"></button>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
        </div>
