
<div class="p-grid">
	<div class="p-col-12">
		<div class="card">

            <p-accordion>
                <p-accordionTab header="Jazzman:Product Details" >
                    
			<div class="p-grid">
				<div class="p-col-12 p-md-6 p-xl-4">
					<div class="card no-gutter widget-overview-box widget-overview-box-1" style="min-height:350px;">
						<ul class="widget-image-list">
							<li>
								<span style="color:#2196F3">Space Name:</span>
								<span>Space 1</span>
							</li>
							<li>
								<span style="color:#2196F3">Product Name:</span>
								<span>Jazzman</span>
							</li>
							<li>
								<span style="color:#2196F3">Product Status:</span>
								<span style="color:#06ce1e">Active</span>
                            </li>
                            <li>
								<span style="color:#2196F3">Owner:</span>
								<span>Boda</span>
							</li> 
							<li>
								<span style="color:#2196F3">Current Phase:</span>
								<span>P1</span>
                            </li> 
                            <li>
                                <button pButton type="button"  label="Back To Product List"  icon="pi pi-eye" iconPos="right" class="p-button-outlined  p-button-seconday p-mr-2 p-mb-2" style="width:100%"></button>
                            
                            
                            
                            </li>
							   
						</ul>
						

					
						</div>
				</div>

				<div class="p-col-12 p-md-6 p-xl-4">
					<div class="card no-gutter widget-overview-box widget-overview-box-1"style="min-height:350px;">
					<ul class="widget-image-list">
						<li>
							<span style="color:#2196F3">DieCode-OptRev</span>
							<span>7AG027-AB</span>
						</li>
						<li>
							
								
							<span style="color:#2196F3">Basepart Number</span>
							
							<span class="listitem-value">KTD-12345</span>
						</li>
						<li>
							
								
							<span style="color:#2196F3">Mfg Part No</span>
							
							<span class="listitem-value">D12345-AB</span>
						</li>
						<li>
							
								
							<span style="color:#2196F3">Fg Part No</span>
							
							<span class="listitem-value">KTD-12345-ABDEE</span>
						</li>
						<li>
						
								
							<span style="color:#2196F3">Package Type</span>
							
							<span class="listitem-value">Package-1</span>
						</li>
						<li>
						
								
							<span style="color:#2196F3">Product Description</span>
						
						<span class="listitem-value">Change from RTP Description</span>
					</li>
					</ul>
					</div>
				</div>
				
				<div class="p-col-12 p-md-6 p-xl-4">
					<div class="card no-gutter widget-overview-box widget-overview-box-1"style="min-height:350px;">
						<ul class="widget-image-list">
							<li>
								<span style="color:#2196F3">Fab/Foundry</span>
								<span>DBH</span>
							</li>
							<li>
								
									
								<span style="color:#2196F3">CP Site</span>
								
								<span class="listitem-value">LBS</span>
							</li>
							<li>
							
								
								<span style="color:#2196F3">Assembly Site</span>
								
								<span class="listitem-value">LBS</span>
							</li>
							<li>
								
									
								<span style="color:#2196F3">Final Test</span>
							
								<span class="listitem-value">LBS</span>
							</li>
							<li>
								
								
								<span style="color:#2196F3">DPS</span>
							
								<span class="listitem-value">LBS</span>
							</li>
							<li>
						
								
								<span style="color:#2196F3">Description</span>
							
							<span class="listitem-value" style="text-align: right;">Description device first all layer rev<br>(metal option A) rev A package</span>
						</li>
						</ul>
					</div>
				</div>
			

		


        </div>
    </p-accordionTab>
				   
    </p-accordion>	
  


		
 
	<div><br>
    <div style="text-align:center;">
		<h5>Phases</h5>
	
        <i class="pi pi-minus" style="width:40px; height:40px;"></i>
        <button (click)="phases(1)" pButton pRipple type="button"  label="P0" class="p-button-rounded  p-button-success p-mr-2 p-mb-2"style="width:50px; height:50px;"></button>
        <i class="pi pi-fast-forward" style="width:40px; height:40px;"></i>
      
        <button  (click)="phases(2)" pButton pRipple type="button"  label="P1" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" style="width:50px; height:50px;"></button>
        <i class="pi pi-fast-forward" style="width:50px; height:40px;"></i>
        <button (click)="phases(3)" pButton pRipple type="button"  label="P2" class="p-button-rounded  p-button-secondary p-mr-2 p-mb-2"style="width:50px; height:50px;"></button>
        <i class="pi pi-fast-forward" style="width:50px; height:40px;"></i>
        <button (click)="phases(4)" pButton pRipple type="button"  label="P3" class="p-button-rounded  p-button-secondary p-mr-2 p-mb-2"style="width:50px; height:50px;"></button>
        <i class="pi pi-fast-forward" style="width:50px; height:40px;"></i>
		<button (click)="phases(5)" pButton pRipple type="button"  label="EOL"  class="p-button-rounded p-button-secondary p-mr-2 p-mb-2"style="width:50px; height:50px;"></button>
        <i class="pi pi-minus" style="width:40px; height:40px;"></i>
    </div> 


    <!-- <div class="p-col-12">
        <div class="card" style="text-align:center;">
            <h5>Phases</h5>
            <p-steps [model]="stepsItems" [activeIndex]="1"></p-steps>
        </div>
    </div> -->

    
       <div class="card" *ngIf="phaseOne">
             
        <div class="table-header">
            <h4>Phase 1 : P0</h4>
            </div>  


        <p-tabView>


            <p-tabPanel header="Details" leftIcon="pi pi-file">
            
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-xl-6">
                        <div class="card no-gutter widget-overview-box widget-overview-box-1" style="min-height:350px;">
                            <ul class="widget-image-list">
                                <li>
                                    <span style="color:#2196F3">Phase Name:</span>
                                    <span>P0</span>
                                </li>
                              
                                <li>
                                    <span style="color:#2196F3">Product Status:</span>
                                    <span style="color:#06ce1e">Completed</span>
                                </li>
                                <li>
                                    <span style="color:#2196F3">Due Date:</span>
                                    <span ><p-calendar [showIcon]="true"  placeholder="10-Feb-2020" inputId="icon" ></p-calendar></span>
                                </li> 
                                <li>
                                    <span style="color:#2196F3">Responsible Departments</span>
                                    <span>7AG027-AB</span>
                                </li>
                                <li>
                                    
                                        
                                    <span style="color:#2196F3">Team</span>
                                    
                                    <span class="listitem-value">KTD-12345</span>
                                </li>
                                <li>
                                    
                                        
                                    <span style="color:#2196F3">Approval Members</span>
                                    
                                    <span class="listitem-value">D12345-AB</span>
                                </li>
                               
                             
                                   
                            </ul>
                            
    
                        
                            </div>
                    </div>
    
                    <div class="p-col-12 p-md-6 p-xl-6">
                        <div class="card no-gutter widget-overview-box widget-overview-box-1"style="min-height:350px;">
                        <ul class="widget-image-list">
                            <li>
                                <span style="color:#2196F3">Phase Owner:</span>
                                <span>Boda</span>
                            </li>

                          
                           
                            <li>
                                
                                    
                                <span style="color:#2196F3">Add Documents</span>
                                
                               <span>
                               

                                <p-dialog header="Add Documents - Phase P0" [(visible)]="display" modal="modal" showEffect="fade" [style]="{width:'30%'}" >

                                    <div class="p-grid p-fluid">
                                        <div class="p-col-12">
                                    
                                            <div class="card">

			<div class="p-grid" style="border: 1px solid #99aff7; border-radius: 5px; ;"><br>
				<div class="p-col-12 p-md-6">
					<div class="p-field-radiobutton">
						<p-radioButton name="city" value="Chicago" [(ngModel)]="valRadio" id="city1"></p-radioButton>
						<label for="city1">From System</label>
					</div>
				</div><br>
				<div class="p-col-12 p-md-6">
					<div class="p-field-radiobutton">
						<p-radioButton name="city" value="Los Angeles" [(ngModel)]="valRadio"
									   id="city2"></p-radioButton>
						<label for="city2">From Document Control</label>
					</div>
				</div>
            </div><br>
            <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-3" >
                <label>Add Document</label>
            </div>
            <div class="p-col-12 p-md-6" >
                
                <span class="p-float-label">
				<input id="float-input" type="text" pInputText>
                <label for="float-input"> Document Code</label>
                
            </span></div>
            <div class="p-col-12 p-md-3" >
  
        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)" ></p-fileUpload>
    </div>
        </div>
    </div> </div> </div>


                                </p-dialog>
                        
                               
                        
                                   <button pButton type="button"  (click)="display=true" class="p-button-info" icon="pi pi-plus" ></button>


                               </span>
                            </li>
                            <li>
                            
                                    
                                <span style="color:#2196F3">View Documents</span>
                                
                                <span>
                               

                                    <p-dialog header="View Documents - Phase P0" [(visible)]="display" modal="modal" showEffect="fade" [style]="{width:'30%'}" >
    
                                        <div class="p-grid p-fluid">
                                            <div class="p-col-12">
                                        
                                                <div class="card">
    
                <div class="p-grid" style="border: 1px solid #99aff7; border-radius: 5px; ;"><br>
                    <div class="p-col-12 p-md-6">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="Chicago" [(ngModel)]="valRadio" id="city1"></p-radioButton>
                            <label for="city1">From System</label>
                        </div>
                    </div><br>
                    <div class="p-col-12 p-md-6">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="Los Angeles" [(ngModel)]="valRadio"
                                           id="city2"></p-radioButton>
                            <label for="city2">From Document Control</label>
                        </div>
                    </div>
                </div><br>
                <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-3" >
                    <label>Add Document</label>
                </div>
                <div class="p-col-12 p-md-6" >
                    
                    <span class="p-float-label">
                    <input id="float-input" type="text" pInputText>
                    <label for="float-input"> Document Code</label>
                    
                </span></div>
                <div class="p-col-12 p-md-3" >
      
            <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)" ></p-fileUpload>
        </div>
            </div>
        </div> </div> </div>
    
    
                                    </p-dialog>
                            
                                   
                            
                                       <button pButton type="button"  (click)="display=true" class="p-button-info" icon="pi pi-eye" ></button>
    
    
                                   </span>
                            </li>
                            <li>
                            
                                    
                                <span style="color:#2196F3">Add Notes</span>
                            
                                <span>
                               

                                    <p-dialog header="Add Documents - Phase P0" [(visible)]="display" modal="modal" showEffect="fade" [style]="{width:'30%'}" >
    
                                        <div class="p-grid p-fluid">
                                            <div class="p-col-12">
                                        
                                                <div class="card">
    
                <div class="p-grid" style="border: 1px solid #99aff7; border-radius: 5px; ;"><br>
                    <div class="p-col-12 p-md-6">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="Chicago" [(ngModel)]="valRadio" id="city1"></p-radioButton>
                            <label for="city1">From System</label>
                        </div>
                    </div><br>
                    <div class="p-col-12 p-md-6">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="city" value="Los Angeles" [(ngModel)]="valRadio"
                                           id="city2"></p-radioButton>
                            <label for="city2">From Document Control</label>
                        </div>
                    </div>
                </div><br>
                <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-3" >
                    <label>Add Document</label>
                </div>
                <div class="p-col-12 p-md-6" >
                    
                    <span class="p-float-label">
                    <input id="float-input" type="text" pInputText>
                    <label for="float-input"> Document Code</label>
                    
                </span></div>
                <div class="p-col-12 p-md-3" >
      
            <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)" ></p-fileUpload>
        </div>
            </div>
        </div> </div> </div>
    
    
                                    </p-dialog>
                            
                                   
                            
                                       <button pButton type="button"  (click)="display=true" class="p-button-info" icon="pi pi-plus" ></button>
    
    
                                   </span>
                        </li>
                        <li>
                            
                                    
                            <span style="color:#2196F3">View Notes</span>
                        
                            <span>
                               

                                <p-dialog header="Add Documents - Phase P0" [(visible)]="display" modal="modal" showEffect="fade" [style]="{width:'30%'}" >

                                    <div class="p-grid p-fluid">
                                        <div class="p-col-12">
                                    
                                            <div class="card">

			<div class="p-grid" style="border: 1px solid #99aff7; border-radius: 5px; ;"><br>
				<div class="p-col-12 p-md-6">
					<div class="p-field-radiobutton">
						<p-radioButton name="city" value="Chicago" [(ngModel)]="valRadio" id="city1"></p-radioButton>
						<label for="city1">From System</label>
					</div>
				</div><br>
				<div class="p-col-12 p-md-6">
					<div class="p-field-radiobutton">
						<p-radioButton name="city" value="Los Angeles" [(ngModel)]="valRadio"
									   id="city2"></p-radioButton>
						<label for="city2">From Document Control</label>
					</div>
				</div>
            </div><br>
            <div class="p-grid p-fluid">
            <div class="p-col-12 p-md-3" >
                <label>Add Document</label>
            </div>
            <div class="p-col-12 p-md-6" >
                
                <span class="p-float-label">
				<input id="float-input" type="text" pInputText>
                <label for="float-input"> Document Code</label>
                
            </span></div>
            <div class="p-col-12 p-md-3" >
  
        <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)" ></p-fileUpload>
    </div>
        </div>
    </div> </div> </div>


                                </p-dialog>
                        
                               
                        
                                   <button pButton type="button"  (click)="display=true" class="p-button-info" icon="pi pi-eye" ></button>


                               </span>
                    </li>
                        </ul>
                        </div>
                    </div>
            
            </div>
               
                
                
                </p-tabPanel>








            <p-tabPanel header="Checklists" leftIcon="pi pi-check-square">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Checklists
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Task" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            
            
            
            
            
            
            </p-tabPanel>
            <p-tabPanel header="Documents" leftIcon="pi pi-file">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Documents
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Document" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Document Name</label>
            </span>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Template Name</label>
            </span></div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Document
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Template
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td><td>
            ENG-0016 / PFR-0001
            
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            
            </p-table>
            
            
            </p-tabPanel>
            <p-tabPanel header="Milestones" leftIcon="pi pi-compass">
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Milestones
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Milestone" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            </p-tabPanel>
            </p-tabView>
            
    
        </div>

       <div class="card" *ngIf="phaseTwo">

        <div class="table-header">
            <h4>Phase 2 : P1</h4>
            </div>  

           
        <p-tabView>
            <p-tabPanel header="Checklists" leftIcon="pi pi-check-square">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Checklists
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Task" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            
            
            
            
            
            
            </p-tabPanel>
            <p-tabPanel header="Documents" leftIcon="pi pi-file">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Documents
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Document" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Document Name</label>
            </span>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Template Name</label>
            </span></div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Document
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Template
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td><td>
            ENG-0016 / PFR-0001
            
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            
            </p-table>
            
            
            </p-tabPanel>
            <p-tabPanel header="Milestones" leftIcon="pi pi-compass">
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Milestones
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Milestone" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            </p-tabPanel>
            </p-tabView>
            
            


      </div>
      <div class="card" *ngIf="phaseThree">   
          
        <div class="table-header">
            <h4>Phase 3 : P2</h4>
            </div>  

                
        <p-tabView>
            <p-tabPanel header="Checklists" leftIcon="pi pi-check-square">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Checklists
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Task" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            
            
            
            
            
            
            </p-tabPanel>
            <p-tabPanel header="Documents" leftIcon="pi pi-file">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Documents
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Document" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Document Name</label>
            </span>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Template Name</label>
            </span></div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Document
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Template
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td><td>
            ENG-0016 / PFR-0001
            
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            
            </p-table>
            
            
            </p-tabPanel>
            <p-tabPanel header="Milestones" leftIcon="pi pi-compass">
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Milestones
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Milestone" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            </p-tabPanel>
            </p-tabView>
            
            


    </div>
    <div class="card" *ngIf="phaseFour"> 
        <div class="table-header">
            <h4>Phase 4 : P3</h4>
            </div>          
                
        <p-tabView>
            <p-tabPanel header="Checklists" leftIcon="pi pi-check-square">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Checklists
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Task" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            
            
            
            
            
            
            </p-tabPanel>
            <p-tabPanel header="Documents" leftIcon="pi pi-file">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Documents
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Document" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Document Name</label>
            </span>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Template Name</label>
            </span></div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Document
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Template
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td><td>
            ENG-0016 / PFR-0001
            
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            
            </p-table>
            
            
            </p-tabPanel>
            <p-tabPanel header="Milestones" leftIcon="pi pi-compass">
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Milestones
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Milestone" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            </p-tabPanel>
            </p-tabView>
            
            


    </div>


    <div class="card" *ngIf="phaseFive"> 
        <div class="table-header">
            <h4>Phase 4 : EOL</h4>
            </div>        
                
        <p-tabView>
            <p-tabPanel header="Checklists" leftIcon="pi pi-check-square">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Checklists
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Task" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            
            
            
            
            
            
            </p-tabPanel>
            <p-tabPanel header="Documents" leftIcon="pi pi-file">
            
            
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Documents
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Document" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Document Name</label>
            </span>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Template Name</label>
            </span></div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Document
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Template
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td><td>
            ENG-0016 / PFR-0001
            
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            
            </p-table>
            
            
            </p-tabPanel>
            <p-tabPanel header="Milestones" leftIcon="pi pi-compass">
            
            
            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
            styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
            <ng-template pTemplate="caption">
            <div>
            Milestones
            <span class="p-input-icon-left" style="float:right">
            
            <button type="text" (click)="display=true" pButton icon="pi pi-plus" label="Add Task"></button>
            </span>
            
            
            
            <p-dialog header="Add Milestone" [(visible)]="display" modal="modal" showEffect="fade" >
            <div style="line-height: 1.5" style="width:150px;height:250px;">
            
            <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Departments"></p-dropdown>
            
            <span class="p-float-label" style="margin-top:2em;">
            <input id="float-input" type="text" pInputText>
            <label for="float-input">Checklist Item</label>
            </span> </div>
            
            
            
            <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Submit" class="p-button-text"></button>
            <button type="button" pButton icon="pi pi-times" (click)="display=false" label="close" class="p-button-text"></button>
            </p-footer>
            </p-dialog>
            
            </div>
            
            
            </ng-template>
            <ng-template pTemplate="header">
            <tr>
            
            <th pSortableColumn="name">Checklist Item
            <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Required
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            <th pSortableColumn="country.name">Department
            <p-sortIcon field="country.name"></p-sortIcon>
            </th>
            
            <th style="width: 8rem"></th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
            <tr class="p-selectable-row">
            
            <td>
            <span class="p-column-title">Name</span>
            {{customer.name}}
            </td>
            <td>
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            </td>
            <td>
            
            <span> Design Engineering</span>
            </td>
            
            </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
            <tr>
            <td colspan="8">No customers found.</td>
            </tr>
            </ng-template>
            </p-table>
            
            </p-tabPanel>
            </p-tabView>
            
            
    </div>
</div>
  

			
			
				</div>
			</div>

</div>




