<div class="p-grid table-demo">
	<div class="p-col-12">
		


		<div class="card">
			<div class="card-header" style="background-color: #495057; border-radius: 5px;">
       
				<h4 style="color:#fff; padding:10px 0 0 15px;">Workflows</h4>
				
			</div>

            <!--<h6>Top Oriented</h6>-->
            <p-tabView>
                <p-tabPanel header="Current Workflow" leftIcon="pi pi-file">
                    <!--<h4>Total Documents</h4>-->
                
                    <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
                     styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" 
					 [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
					 
					 <ng-template pTemplate="caption">

				
       
						<h4>Current Workflow</h4> <span class="p-input-icon-left" style="float:right; margin-top:-40px;">
							<i class="pi pi-search"></i>
							<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
								   placeholder="Global Search"/>
					
					<button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" style="float:right;"></button>
						<button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-secondary p-mr-2 p-mb-2"style="float:right; margin-left:10px ; "></button>
					</span>
					
				</ng-template>

                <!-- <ng-template pTemplate="caption">
                    <div class="table-header">
                        Current Workflow
                        <span class="p-input-icon-left" style="float:right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                </span>
                    </div>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                    
                      
                        <th pSortableColumn="name">Workflow Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Workflow Status
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="country.name">Performed By
                            <p-sortIcon field="country.name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="representative.name">Performed At
                            <p-sortIcon field="representative.name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="activity">Action
							<p-sortIcon field="activity"></p-sortIcon>
						</th>
                        
                        <!-- <th pSortableColumn="status">FG Part
                            <p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date">Effective Date
                            <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date">Expiration Date
                            <p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="activity">Delegated By
                            <p-sortIcon field="activity"></p-sortIcon>
                        </th>
                        <th pSortableColumn="activity">Actions
                            <p-sortIcon field="activity"></p-sortIcon>
                        </th> -->
                       
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr class="p-selectable-row">
                        
                        <td>
                            ADMN200197-R01
                        
                        </td>
                        
                        <td>
                            UC-003
                            
                        </td>
                        <td>
                            Un-controlled
                        </td>
                        <td>
                            UC
                        </td>
					
						<td>
							<button pButton type="button"  label="View" (click)="display=true" icon="pi pi-eye" iconPos="right" class="p-button-outlined  p-button-seconday p-mr-2 p-mb-2"></button>
	
							 </td>
                      
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="auto">No documents found.</td>
                    </tr>
                </ng-template>
            </p-table>
            </p-tabPanel>

			<p-tabPanel header="Completed Workflow" leftIcon="pi pi-file">
				<!--<h4>Total Documents</h4>-->
			
				<p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
				 styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" 
				 [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
				 <ng-template pTemplate="caption">

				
       
					<h4>Completed Workflow</h4> <span class="p-input-icon-left" style="float:right; margin-top:-40px;">
						<i class="pi pi-search"></i>
						<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
							   placeholder="Global Search"/>
				
				<button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded p-button-warning p-mr-2 p-mb-2" style="float:right;"></button>
					<button pButton pRipple type="button" icon="pi pi-download" class="p-button-rounded p-button-secondary p-mr-2 p-mb-2"style="float:right; margin-left:10px ; "></button>
				</span>
				
			</ng-template>
			<!-- <ng-template pTemplate="caption">
				<div class="table-header">
					Completed Workflow
					<span class="p-input-icon-left" style="float:right">
				<i class="pi pi-search"></i>
				<input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
					   placeholder="Global Search"/>
			</span>
				</div>
			</ng-template> -->
			<ng-template pTemplate="header">
				<tr>
				
				  
					<th pSortableColumn="name">Workflow Name
						<p-sortIcon field="name"></p-sortIcon>
					</th>
					<th pSortableColumn="name">Workflow Status
						<p-sortIcon field="name"></p-sortIcon>
					</th>
					<th pSortableColumn="country.name">Performed By
						<p-sortIcon field="country.name"></p-sortIcon>
					</th>
					<th pSortableColumn="representative.name">Performed At
						<p-sortIcon field="representative.name"></p-sortIcon>
					</th>
					<th pSortableColumn="activity">Actions
						<p-sortIcon field="activity"></p-sortIcon>
					</th>
					
					
					<!-- <th pSortableColumn="status">FG Part
						<p-sortIcon field="status"></p-sortIcon>
					</th>
					<th pSortableColumn="date">Effective Date
						<p-sortIcon field="date"></p-sortIcon>
					</th>
					<th pSortableColumn="date">Expiration Date
						<p-sortIcon field="date"></p-sortIcon>
					</th>
					<th pSortableColumn="activity">Delegated By
						<p-sortIcon field="activity"></p-sortIcon>
					</th>
					<th pSortableColumn="activity">Actions
						<p-sortIcon field="activity"></p-sortIcon>
					</th> -->
				   
					
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-customer>
				<tr class="p-selectable-row">
					
					<td>
						ADMN200197-R01
					
					</td>
					
					<td>
						UC-003
						
					</td>
					<td>
						Un-controlled
					</td>
					<td>
						UC
					</td>
				
					<td>
						<button pButton type="button"  label="View" (click)="display=true" icon="pi pi-eye" iconPos="right" class="p-button-outlined  p-button-seconday p-mr-2 p-mb-2"></button>

						 </td>
					<!-- <td>
						10-Sep-2019
					</td>
					<td>
						10-Sep-2020
					</td>
					
					
					<td >Sharath</td>
					<td style="text-align: center">
						<button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
					</td> -->
				</tr>
			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td colspan="auto">No documents found.</td>
				</tr>
			</ng-template>
		</p-table>
		</p-tabPanel>






              <!--  <p-tabPanel header="Delegated Documents" leftIcon="pi pi-file">
					
					
					<p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
					 styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" 
					 [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
				<ng-template pTemplate="caption">
					<div class="table-header">
						Delegated Documents
						<span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
						   placeholder="Global Search"/>
                </span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
					
                      
						<th pSortableColumn="name">Document Code
							<p-sortIcon field="name"></p-sortIcon>
						</th>
						<th pSortableColumn="name">Document Title
							<p-sortIcon field="name"></p-sortIcon>
						</th>
						<th pSortableColumn="country.name">Document Type
							<p-sortIcon field="country.name"></p-sortIcon>
						</th>
						<th pSortableColumn="representative.name">Document Workflow
							<p-sortIcon field="representative.name"></p-sortIcon>
						</th>
						
						<th pSortableColumn="status">FG Part
							<p-sortIcon field="status"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date">Effective Date
							<p-sortIcon field="date"></p-sortIcon>
                        </th>
                        <th pSortableColumn="date">Expiration Date
							<p-sortIcon field="date"></p-sortIcon>
						</th>
						<th pSortableColumn="activity">Status
							<p-sortIcon field="activity"></p-sortIcon>
                        </th>
                       
						
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-customer>
					<tr class="p-selectable-row">
						
						<td>
							ADMN200197-R01
						
						</td>
						
						<td>
							QP-004
							
						</td>
						<td>
							Quality Policy
                        </td>
                        <td>
							QP
                        </td>
                        <td>
							KTD000011ABDD-EE-TF:D12345ABDD-EE-FAB-nn
						</td>
						<td>
							10-Feb-2020
                        </td>
                        <td>
							10-March-2020
						</td>
						
						
						<td >Hold</td>
						
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">No documents found.</td>
					</tr>
				</ng-template>
			</p-table>
                </p-tabPanel>-->


       <!-- <p-tabPanel header="Pending Tasks" leftIcon="pi pi-check-square">
					
					
					<p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
					styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" 
					[filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
			   <ng-template pTemplate="caption">
				   <div class="table-header">
					   Pending Tasks
					   <span class="p-input-icon-left">
				   <i class="pi pi-search"></i>
				   <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
						  placeholder="Global Search"/>
			   </span>
				   </div>
			   </ng-template>
			   <ng-template pTemplate="header">
				   <tr>
				   
					 
					   <th pSortableColumn="name">Checklist Item
						   <p-sortIcon field="name"></p-sortIcon>
					   </th>
					   <th pSortableColumn="name">Required
						   <p-sortIcon field="name"></p-sortIcon>
					   </th>
					   <th pSortableColumn="country.name">Department
						   <p-sortIcon field="country.name"></p-sortIcon>
					   </th>
					   <th pSortableColumn="representative.name">Completed By
						   <p-sortIcon field="representative.name"></p-sortIcon>
					   </th>
					   <th pSortableColumn="date">Completed Date
						   <p-sortIcon field="date"></p-sortIcon>
					   </th>
					   <th pSortableColumn="status">Status
						   <p-sortIcon field="status"></p-sortIcon>
					   </th>
					   <th pSortableColumn="activity">Activity
						   <p-sortIcon field="activity"></p-sortIcon>
					   </th>
					   <th pSortableColumn="activity">Action
						   <p-sortIcon field="activity"></p-sortIcon>
					   </th>
					   
				   </tr>
			   </ng-template>
			   <ng-template pTemplate="body" let-customer>
				   <tr class="p-selectable-row">
					   
					   <td>
						   <span class="p-column-title">Name</span>
						   {{customer.name}}
					   </td>
					   <td>
						   <p-tableCheckbox [value]="customer"></p-tableCheckbox>
					   </td>
					   <td>
						   QMS
						   
					   </td>
					   <td>
						   <span class="p-column-title">Representative</span>
						   
						   <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{customer.representative.name}}</span>
					   </td>
					   <td>
						   <span class="p-column-title">Date</span>
						   {{customer.date}}
					   </td>
					   <td>
						   <span class="p-column-title">Status</span>
						   <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
					   </td>
					   
					   <td style="text-align: center">
						   <button pButton type="button" class="p-button-secondary" icon="pi pi-pencil"></button>
					   </td>
					   <td style="text-align: center">
						   <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
					   </td>
				   </tr>
			   </ng-template>
			   <ng-template pTemplate="emptymessage">
				   <tr>
					   <td colspan="8">No customers found.</td>
				   </tr>
			   </ng-template>
		   </p-table>
                </p-tabPanel>-->
    </p-tabView>

           
        </div>

    </div>
    </div>



